.PoETradeHelper {
    #helper-tabs {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: transparent;

        .nav-link {
            background-color: var(--background-color);
            color: var(--text-color);
            border-top: 1px solid var(--border-color);
            border-left: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
            border-bottom: 1px solid transparent;
            padding: 0.3em 0.5em;
            margin: 0em 0.1em;
            border-radius: 0%;
            font-size: .9em;

            &.active {
                background-color: var(--background-color-hover);
            }
        }

        .nav-tabs {
            border-bottom: 0px solid black !important;
        }

        .tab-pane {
            padding: 0.5em;
            height: 94vh;
        }
    }
}
